rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    function isAuthorizedUser() {
      return request.auth != null &&
        (request.auth.token.email == "danielptagg@googlemail.com" ||
         request.auth.token.email == "danielptagg@gmail.com");
    }

    match /{document=**} {
      allow read, write: if isAuthorizedUser();
    }
  }
}
